<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ----------- Scroll Reveal Library ----------- -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
    <header>
        <nav class="container">
            <img src="../resources/img/logo.png" class="logo">
            <!--<a href="#" class="logo">Portf<span>olio.</span></a>-->
            <div class="links">
                <ul>
                    <li>
                        <a href="../views/home.html" class="nav-link">Calculator</a>
                    </li>
                    <li>
                        <a href="../views/howTo.html" class="nav-link">How to</a>
                    </li>
                    <li>
                        <a href="../views/fragrance.html" class="nav-link">Fragrances</a>
                    </li>
                    <li>
                        <a href="../views/supplies.html" class="nav-link">Supplies</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="services section">
            <div class="container">
                <div class="services-grid">
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Cinnamon</h3>
                            <img src="../resources/img/cinnamon.jpg">
                            <p class="text">
                                goes well with apple, sugar, pumpkin
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Apple</h3>
                            <img src="../resources/img/apple.png.webp">
                            <p class="text">
                                goes well with cinnamon, currant, harvest, autumn
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Lavender</h3>
                            <img src="../resources/img/lavender.webp">
                            <p class="text">
                                goes well with mint, sage, patchouli, sandalwood, rosemary, clean linen
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Jasmine</h3>
                            <img src="../resources/img/jasmine.jpg">
                            <p class="text">
                                goes well with rose, ocean mist, sea breeze, rain water, clean linen, citrus
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                </div>
                <div class="services-grid-bot">
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Clean Linen</h3>
                            <img src="../resources/img/CleanLinen.jpg">
                            <p class="text">
                                goes well with jasmine, lavender
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Vanilla</h3>
                            <img src="../resources/img/Vanilla.jpg">
                            <p class="text">
                                goes well with pine, birch, cedarwood, citrus
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Patchouli</h3>
                            <img src="../resources/img/Patchouli.jpg">
                            <p class="text">
                                goes well with lavender, rose, cedarwood
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                    <div class="srv-card">
                        <div class="card-desc">
                            <h3>Leather</h3>
                            <img src="../resources/img/Leather.jpg">
                            <p class="text">
                                goes well with amber, vanilla, whiskey
                            </p>
                        </div>
                        <a href="#" class="btn secondary-btn">Buy Now</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ----------- js files ----------- -->
    <script src="../resources/js/candleFormula.js"></script>
</body>